.archive > .archive-info {
  border: 1px solid #7ec1ff;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  column-gap: 20px;
}

.archive > .alert-panel {
  border: 1px solid #13c2c2;
  padding: 20px;
  margin: 20px 0;
}

.archive > .upload-info {
  border: 1px solid #13c2c2;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
