# .github/workflows/release.yml

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Build
        run: npm i -g pnpm
        run: pnpm build
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            README.md
            LICENSE
            dist/*
