# .github/workflows/release.yml

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install
        run: npm i -g pnpm && pnpm i
      - name: Build
        run: pnpm build
      - name: Copy
        # run: rm -rf temp/ && mkdir temp && cp -r dist/* temp && cp LICENSE temp && cp README.md temp
        run: cp LICENSE dist && cp README.md dist
      - name: Compress
        uses: montudor/action-zip@v1
        with:
          args: cd dist && zip -r -j ../dist.zip . && cd ..
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist.zip
