# .github/workflows/release.yml

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install
        run: npm i -g pnpm && pnpm i
      - name: Build
        run: pnpm build
      - name: Compress
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r dist.zip dist README.md LICENSE
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist.zip
